	table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
  background-color: DarkGoldenRod;
  color: white;
  font-family: 'Galada', cursive;
  text-align: center;
  
}
td{
	height: 50px;
	vertical-align: bottom;
	font-family: 'Galada', cursive;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: DarkTurquoise;}
h1{
	font-family: 'Galada', cursive;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}
h2{
	font-family: 'Galada', cursive;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}
