p{
	color:Navy;
	font-size:40px;
}
ul.square {
  list-style-type: square;
}
li{
	color:red;
	font-size:30px;
}
html, body{
  height: 100%;
  width: 100%;
  font-family:'Galada', cursive;
  /*"Montserrat", sans-serif;*/
  color: #222;
}
html {
  scroll-behavior: smooth;
}
h1{
	text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}
