.fa {
  padding: 20px;
  font-size: 100px;
  width: 90px;
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
}

.fa:hover {
    color: #D5D5D5;
  transition-duration: 0.5s;
}

.fa-facebook-official{
  color: #3B5998;
}
.fa-instagram{
  color:#C20806;
}


.fa-linkedin-square{
  color: #0E76A8;
}
html, body{
  height: 100%;
  width: 100%;
  font-family:'Galada', cursive; 
  /*"Montserrat", sans-serif;*/
  color: #222;
}
html {
  scroll-behavior: smooth;
}
a:hover{
  transition-duration: 0.5s;
  color: green;
}
@media (max-width: 768px) {
  
  .fa{
    font-size: 80px;
    padding: 15px;
      }
    }
