div.fixed {
  position: fixed;
  top: 0;
  right: 0;
 
  
}
.nav-head {
  font-weight: 800;
  font-size: 40px;
  font-variant: small-caps;
  text-align: center; 
  opacity: 0.7;
  text-shadow: 2px 4px 3px rgba(1,1,1,0.8);
}

.nav-item{
  font-size: 20px;
}
/*
.btn {
  
  border: none;
  background-color: Aqua;
  padding: 14px 28px;
  font-weight:900;
  font-variant: small-caps;
  font-size: 16px;
  font-family: 'Galada', cursive;
  cursor: pointer;
  display: inline-block;
  float:right;
}

.btn:hover {background: #eee;}

.Resume {color: green;}
.About {color: dodgerblue;}
.Hobbies {color: orange;}
.danger {color: red;}
.default {color: black;}
.timetable {color: violet;}
*/
ul.a {
  list-style-type: circle;
  color:green;
}
.heading{
	padding: 10px;
}
p{
	font-size:40px;
  color:yellow;
 
}
body {
  background-image: url('Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
h1 {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-variant: small-caps;
  font-size:60px;
}
.contrast {filter: contrast(180%);}
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Galada', cursive;
  font-weight:900;
   font-variant: small-caps;
}
  /*"Montserrat", sans-serif;*/

  color: #222;
}
html {
  scroll-behavior: smooth;
}
img {
 
  cursor:pointer;
}
img:hover{
  transform: rotate(360deg);
}
  table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
  background-color: DarkGoldenRod;
  color: white;
  font-family: 'Galada', cursive;
  text-align: center;
  
}
td{
  height: 50px;
  vertical-align: bottom;
  font-family: 'Galada', cursive;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: DarkTurquoise;}
h1{
  font-family: 'Galada', cursive;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}
h2{
  font-family: 'Galada', cursive;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}
.fa {
  padding: 20px;
  font-size: 100px;
  width: 90px;
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
}

.fa:hover {
    color: #D5D5D5;
  transition-duration: 0.5s;
}

.fa-facebook-official{
  color: #3B5998;
}
.fa-instagram{
  color:#C20806;
}


.fa-linkedin-square{
  color: #0E76A8;
}
a:hover{
  transition-duration: 0.5s;
  color: green;
}
@media (max-width: 576px) {
  
  .fa{
    font-size: 4em;
  padding: 0.7rem;
      }
    }
